{% block recherche %}
	
	{{ form_start(formSearch, {'attr': {'class': 'form'}}) }}
	<div class="well" id="searchDiv">
		<div class="col-sm-2">
			{{ form_label(formSearch.site, "Site") }}
			{{ form_widget(formSearch.site) }}
		</div>
		<div class="col-sm-2">
			{{ form_label(formSearch.startDate, "Start Date") }}
			{{ form_widget(formSearch.startDate) }}
		</div>
		<div class="col-sm-2">
			{{ form_label(formSearch.endDate, "End Date") }}
			{{ form_widget(formSearch.endDate) }}
		</div>
		<div class="col-sm-1">
			{{ form_widget(formSearch.search) }}
		</div>
	</div>
	{{ form_rest(formSearch) }}
	{{ form_end(formSearch) }}	
	
{% endblock %}