{% block recherche %}
	
	{{ form_start(formSearch, {'attr': {'class': 'form'}}) }}
	<div class="well" id="searchDiv">
		<div class="col-sm-2">
			{{ form_label(formSearch.site, "Site") }}
			{{ form_widget(formSearch.site) }}
		</div>
		<div class="col-sm-2">
			{{ form_label(formSearch.startDate, "Start Date") }}
			{{ form_widget(formSearch.startDate) }}
		</div>
		<div class="col-sm-2">
			{{ form_label(formSearch.endDate, "End Date") }}
			{{ form_widget(formSearch.endDate) }}
		</div>
		<div class="col-sm-1">
			{{ form_widget(formSearch.search) }}
		</div>
		<div class="dateInfo" style="margin-left: 100px;">
			<p>Site 1   - 21/10/2016 <-> 10/03/2018</p>
			<p>Site 2,3 - 01/01/2018 <-> 27/06/2019</p>
		</div>
	</div>
	{{ form_rest(formSearch) }}
	{{ form_end(formSearch) }}	
	
{% endblock %}