{% block details %}
<aside class="well">
	<h2>Details</h2>
	<table class="table table-striped table-bordered table-hover table-condensed">
		<thead>
			<tr class="defaut">
			   <th>Poste</th>
			   <th>Equip.</th>
			   <th>Conséquence</th>
			   <th>Date_fin</th>
			   <th>Id Int</th>
			   <th>Pertf</th>
			   <th>Pertn</th>
			</tr>
		</thead>
		<tbody>
			{# {% for event in listEvent %}
			<tr class="defaut" onclick="document.location.href='registre/viewevent/{{ event.id }}'">
			   <td>{{ event.site }}</td>
			   <td style="text-align:center">{{ event.poste }}</td>
			   <td style="text-align:center">{{ event.equipement }}</td>
			   <td style="text-align:center">{{ event.consequence }}</td>
			   <td style="text-align:center">{{ event.datefin }}</td>
			   <td style="text-align:center">{{ event.idint }}</td>
			   <td style="text-align:right">{{ event.pertf }}</td>
			   <td style="text-align:right">{{ event.pertn }}</td>
			</tr>
			{% endfor %} #}
		</tbody>
	</table>
</aside>
{% endblock %}
