{% block events %}
<section id="evenements" class="well">
	<div id="headerEvents">
		<div id="titleEvents">
			<h2>Evénements</h2>
		</div>
		<div id="buttons">
			<input type="" value="Nouveau" class="btn btn-default" data-toggle="modal" href="#newEventForm"/>
			<input type="" value="Editer" class="btn btn-default" data-toggle="modal" href="#editEventForm"/>
			<input type="" value="Supprimer" class="btn btn-default" data-toggle="modal" href="#removeEventForm"/>
		</div>
	</div>
	<Br/>
	<div class="table-responsive">
	<table class="table table-bordered table-condensed">
		<thead>
			<tr>
			   <th>Date début</th>
			   <th>Date fin</th>
			   <th>Id</th>
			   <th>Id Parent</th>
			   <th>Site</th>
			   <th>Poste</th>
			   <th>Equip.</th>
			   <th>Origine/Cause</th>
			   <th>Conséquence</th>
			   <th>Pertes</th>
			</tr>
		</thead>
		<tbody>
			{% for event in listEvents %}
			<tr id="{{ event.id }}" class="default accordion-toggle" data-toggle="collapse" data-target="#collapse{{event.id}}" onclick="SelectLigne(this)">
			   <td>{{ event.startDate|date('d/m/Y H:i') }}</td>
			   <td>{{ event.endDate|date('d/m/Y H:i') }}</td>
			   <td>{{ event.id }}</td>
			   <td>{{ event.id }}</td>
			   <td>{{ event.site.siteName }}</td>
			   <td>{{ event.substation.name }}</td>
			   <td>{{ event.equipment.name }}</td>
			   <td>{{ event.origin }}</td>
			   <td>{{ event.consequence }}</td>			   
			   <td>{{ event.ens }}</td>
			</tr>
			<tr id="coment{{ event.id }}" style="display: none" class="apparition">
				<td class="comentTab" colspan="11">	
					<div id="collapse{{event.id}}" class="collapse">
						<p>{{ event.coment|nl2br }}</p>
					</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	</div>
</section>
{% endblock %}
