{{ form_start(formNewEvent) }}

{{ form_errors(formNewEvent) }}

<div class="form-group">
    {{ form_label(formNewEvent.startDate, "Start date") }}
    <div class="col-sm-10">
        {{ form_widget(formNewEvent.startDate) }}
    </div>
</div>
<div class="form-group">
    {{ form_label(formNewEvent.endDate, "End date") }}
    <div class="col-sm-10">
        {{ form_widget(formNewEvent.endDate) }}
    </div>
</div>{#
{{ form_row(formNewEvent.endDate) }}#}
{{ form_row(formNewEvent.site) }}
{{ form_row(formNewEvent.substation) }}
{{ form_row(formNewEvent.equipment) }}
{{ form_row(formNewEvent.origin) }}
{{ form_row(formNewEvent.consequence) }}
{{ form_row(formNewEvent.coment) }}

<div class="modal-footer">
    {{ form_widget(formNewEvent.Enregistrer, {'attr': {'class': 'btn btn-info'}}) }}
    <button class="btn btn-info" data-dismiss="modal">Annuler</button>
</div>


{{ form_rest(formNewEvent) }}

{{ form_end(formNewEvent) }}