{% extends "@App//layout.html.twig" %}

{% block title %}{{ parent() }} - Graph&Analysis{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/tsdatamanager/css/styleCurves.css') }}" type="text/css" media="all" />
{% endblock %}

{% block body %}
<section id="container">
{{ include("@App/App/search.html.twig") }}

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#curveDiv" aria-controls="curveDiv" role="tab" data-toggle="tab">Graph</a></li>
    <!--<li role="presentation"><a href="#statDiv" aria-controls="statDiv" role="tab" data-toggle="tab">Stats</a></li>-->
</ul>
<div class="tab-content">
<div id="parameters" class="well col-md-2" style="display: none">
    <form>Paramètres
        <div style="display: flex">
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch1" class="onoffswitch-checkbox" id="myonoffswitch1" checked>
                <label class="onoffswitch-label" for="myonoffswitch1">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
            <div>Energy</div>
        </div>
        <div style="display: flex">
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch2" class="onoffswitch-checkbox" id="myonoffswitch2" checked>
                <label class="onoffswitch-label" for="myonoffswitch2">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
            </Br>
            <div>Irradiance</div>
        </div>
        <div style="display: flex">
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch3" class="onoffswitch-checkbox" id="myonoffswitch3" checked>
                <label class="onoffswitch-label" for="myonoffswitch3">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
            <div>RP</div>
        </div>
    </form>

</div>

{% if (result) %}
<div id="curveDiv" role="tabpanel" class="well tab-pane active col-md-12">
    <div id="linechart" class="col-md-10" style=""></div>
    <div id="generalInfo" class="col-md-2">
        <h4>Cumulated data over the period</h4>
        <div class="statPeriod">
            <div class="lineStat">
                <p style="text-align: left">Energy:</p>
                <p style="text-align: right"><strong>{{ result.energyPeriod|number_format(0, ',', ' ') }} kWh</strong></p>
            </div>
            <div class="lineStat">
                <p style="text-align: left">ENS:</p>
                <p style="text-align: right; padding: 0px;"><strong>{{ result.ensPeriod|number_format(0, ',', ' ') }} kWh</strong></p>
            </div>
            <div class="lineStat">
                <p style="text-align: left">Irradiation:</p>
                <p style="text-align: right"><strong>{{ result.irradiationPeriod|number_format(0, ',', ' ') }} Wh/m²</strong></p>
            </div>
            <div class="lineStat">
                <p style="text-align: left">Availability:</p>
                <p style="text-align: right"><strong>{{ result.availabilityPeriod|number_format(2, ',', ' ') }} %</strong></p>
            </div>
            <div class="lineStat">
                <p style="text-align: left">PR:</p>
                <p style="text-align: right"><strong>{{ result.PRPeriod|number_format(2, ',', ' ') }} %</strong></p>
            </div>
        </div>
    </div>
</div>
{% endif %}
<div id="statDiv" role="tabpanel" class="well tab-pane">
blabla
</div>
</div>
</section>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('bundles/tsdatamanager/js/dataManager.js') }}"></script>
    <script src="{{ asset('bundles/tsdatamanager/js/curves.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    {% if (result) %}
    <script src="//code.highcharts.com/6.1.1/highcharts.js"></script>
    <script type="text/javascript">
        {{ chart(result.chart) }}
    </script>
    {% endif %}
{% endblock %}