{% extends "@App//layout.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/tsdatamanager/css/styleCurves.css') }}" type="text/css" media="all" />
{% endblock %}

{% block body %}
<section id="container">
{{ include("@App/App/search.html.twig") }}

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#curveDiv" aria-controls="curveDiv" role="tab" data-toggle="tab">Graphique</a></li>
    <li role="presentation"><a href="#statDiv" aria-controls="statDiv" role="tab" data-toggle="tab">Statistiques</a></li>
</ul>
<div class="tab-content">
<div id="parameters" class="well col-md-2" style="display: none">
    <form>Paramètres
        <div style="display: flex">
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch1" class="onoffswitch-checkbox" id="myonoffswitch1" checked>
                <label class="onoffswitch-label" for="myonoffswitch1">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
            <div>Energy</div>
        </div>
        <div style="display: flex">
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch2" class="onoffswitch-checkbox" id="myonoffswitch2" checked>
                <label class="onoffswitch-label" for="myonoffswitch2">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
            </Br>
            <div>Irradiance</div>
        </div>
        <div style="display: flex">
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch3" class="onoffswitch-checkbox" id="myonoffswitch3" checked>
                <label class="onoffswitch-label" for="myonoffswitch3">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
            <div>RP</div>
        </div>
    </form>

</div>

<div id="curveDiv" role="tabpanel" class="tab-pane active">
    {{ include("@TSDataManager/DataManager/curveDiv.html.twig") }}
</div>

<div id="generalInfo" class="well col-md-2">
    <h4>Données cumulées sur la période</h4>
    <table>
        <tr>
            <td style="text-align: left">Energie :</td>
            <td style="text-align: right"><strong>{{ energyPeriod|number_format(0, ',', ' ') }}</strong></td>
            <td style="text-align: left"><strong>kWh</strong></td>
        </tr>
        <tr>
            <td style="text-align: left">END :</td>
            <td style="text-align: right"><strong>{{ ensPeriod|number_format(0, ',', ' ') }}</strong></td>
            <td style="text-align: left"><strong>kWh</strong></td>
        </tr>
        <tr>
            <td style="text-align: left">Irradiance :</td>
            <td style="text-align: right"><strong>{{ irradiationPeriod|number_format(0, ',', ' ') }}</strong></td>
            <td style="text-align: left"><strong>Wh/m²</strong></td>
        </tr>
        <tr>
            <td style="text-align: left">PR :</td>
            <td style="text-align: right"><strong>{{ PRPeriod|number_format(2, ',', ' ') }}</strong></td>
            <td style="text-align: left"><strong>%</strong></td>
        </tr>
    </table>
</div>

<div id="statDiv" role="tabpanel" class="well tab-pane">
blabla
</div>
</div>
</section>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('bundles/tsdatamanager/js/dataManager.js') }}"></script>
    <script src="{{ asset('bundles/tsdatamanager/js/curves.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
{% endblock %}