{% extends "@App//layout.html.twig" %}

{% block title %}{{ parent() }} - Import{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/tsdatamanager/css/style.css') }}" type="text/css" media="all" />
{% endblock %}

{% block body %}
<section id="container">
<div class="well">
	<h4 style="text-align: center">Here you can import data from your monitoring system into the database</h4>
	<h4 style="text-align: center">In this version, the application is looking for the data in the first 3 columns of an Excel file (.xls)</h4>
	<h4 style="text-align: center">First line is supposed to be title of the table, try it !</h4>
	{{ form(form)}}
</div>

<div class="well">
    <div id="headerImport">
		<div id="titleImport">
			<h2>Import</h2>
		</div>
		<div id="buttons">
			<input onclick="saveImport()" value="Save" class="btn btn-default" disabled="true"/>
		</div>
	</div>
	<Br/>
	<div id="message"></div>
    <table id="tableau" class="table table-bordered table-condensed">
        <thead>
			<tr>
			   <th width="20%">Date</th>
			   <th width="40%">Injected Energy</th>
			   <th width="40%">Irradiation</th>
			</tr>
		</thead>
		<tbody id="importData">
			{% for line in tab %}
			<tr id="{{ line.id }}" class="default line" onclick="SelectLigne(this)">
			   <td width="20%">{{ line.date }}</td>
			   <td width="40%">{{ line.energy }}</td>
			   <td width="40%">{{ line.irradiation }}</td>
			</tr>
			{% endfor %}
        </tbody>
    </table>
</div>
<div id="tester">
</div>
</section>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('bundles/tsdatamanager/js/dataManager.js') }}"></script>
{% endblock %}